body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: Yellow;
    background-image: url("Images/pattern.webp");
}
h2 {
    color: white;
}
h3 {
    font-weight: bold;
}
.starting-at {
    color: blue;
    font-weight: bold;
}
#Brushes h2{
    background-color: mediumspringgreen;
}
#Frames h2{
    background-color: lightcoral;
}
#Paint h2{
    background-color: turquoise;
}
